{
  "outbounds": [
    {
      "type": "socks",
      "tag": "out-remote",
      "domain_resolver": "dns-remote",
      "server": "127.0.0.1",
      "server_port": 10808,
      "version": "5"
    }
  ]
}