{
  "type": "vless",
  "tag": "remote",
  "server": "",
  "server_port": 1234,
  "uuid": "",
  "flow": "",
  "packet_encoding": "",
  "tls": {
    "enabled": true,
    "server_name": "",
    "insecure": false,
    "utls": {
      "enabled": true,
      "fingerprint": ""
    },
    "reality": {
      "enabled": true,
      "public_key": "",
      "short_id": ""
    }
  }
}
