spawn-at-startup "waybar"

spawn-sh-at-startup "systemctl --user start idle-niri plasma-polkit-agent"
spawn-sh-at-startup "systemctl --user start mako waybar swaybg-single"

binds {

    Mod+Shift+W hotkey-overlay-title="Refresh single wallpaper" cooldown-ms=2000 { spawn-sh " systemctl stop --user swaybg-random; systemctl restart --user swaybg-single"; }
    Mod+Ctrl+W  hotkey-overlay-title="Refresh slideshow wallpaper" cooldown-ms=2000 { spawn-sh "systemctl stop --user swaybg-single; systemctl restart --user swaybg-random"; }

    Mod+Ctrl+B hotkey-overlay-title="Restart waybar"        { spawn-sh "systemctl --user restart waybar"; }
    Mod+B      hotkey-overlay-title="Toggle waybar display" { spawn-sh "pkill -SIGUSR1 waybar"; }

    Ctrl+Alt+L  hotkey-overlay-title="Lock the Screen" { spawn "swaylock"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "brightnessctl --class=backlight set +10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "brightnessctl --class=backlight set 10%-"; }

    XF86AudioPlay  allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPause allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop  allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPrev  allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext  allow-when-locked=true { spawn-sh "playerctl next"; }


}